<mat-tab-group>
    <mat-tab routerLink='pendingTask' label="Pending Tasks">
        <app-task></app-task> 
        <app-task></app-task> 
        <app-task></app-task> 
        <app-task></app-task> 
    </mat-tab>
    <mat-tab routerLink='completedTask' label="Completed Tasks">
        <app-comp-task></app-comp-task>
        <app-comp-task></app-comp-task>
        <app-comp-task></app-comp-task>
        <app-comp-task></app-comp-task>
        <app-comp-task></app-comp-task>
    </mat-tab>
  </mat-tab-group>