<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Studypal</h4>
                    <ul>
                        
                        <div class="img-container"><img src="../../assets/studypallog.png" alt="werarfe"></div>


                    </ul>
                </div>
                <div class="footer-col">
                    <h4>important links</h4>
                    <ul>
                        <li><a href="#">&#x2709; support@studypal.com</a></li>
                        <li><a href="#">sign up </a></li>
                        <li><a href="#">banck account</a></li>



                    </ul>
                </div>
                <div class="footer-col">
                    <h4>links</h4>
                    <ul>
                        <li><a href="#">home </a></li>
                        <li><a href="#">posts</a></li>
                        <li><a href="#">my topics</a></li>
                        <li><a href="#">tasks</a></li>
                    </ul>
                </div>
                <div class="footer-col">

                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>


            </div>
           
        </div>
        <div class="wraper">
                
            <div class="containers">
                <div class="item-1">&#x24B8; 2023 All right reserved</div>
                <div class="left">
                    <a href ="#"class="item item-2">Privacy Policy</a>
                    <a href="#" class="item item-3">Terms of Use</a>
                    <!-- <a href="#"class="item item-5">Site Map</a> -->
                    <a href="#"class="item item-4">Legal</a>
                    <a href="#"class="item item-6">Sales and Refunds</a>
                    
                </div>
            </div>
           </div>
    </footer>

</body>

</html>