
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    margin-bottom: 0;
}
.footer{
    background-color: #24262b;
    padding: 50px 0;
    
    
  
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 35%;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.social-links{
  display: flex;
}
.footer-col .social-links a{
    display: grid;
    place-items: center;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    text-decoration: none;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}


p{
color: white;
}
h3{
    bottom: 0;
    top:5%;
    color: #ffffff;
    
}
.wraper{
    margin-top: 0px;
    background-color: #24262b;
    
    }



.containers {
    display: flex;
    color: aliceblue;
    top: 40px;
    bottom: 20px;
  }
  
  .item {
    flex-basis: 30%;
    text-align: center;
    cursor: pointer;
  
  }
  
  .item-1 {
    
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: gray;
    

  
  }
  
  .item-6 {
    text-align: right;
  }
  .containers li a{
    text-decoration: none;
    list-style: none !important;
  }
  a.item{
    text-decoration: none;
    color: #ffffff;
    
  }
  
  
  .img-container{
    width: 100px;
    height: 100px;
  }

  img{
    width: 100%;
    height: 100%;
  }
  .left{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30%;
    margin-top: 50px;
    flex-basis: 44%;
  }
  
.left a{
  will-change: 100vw;
  color:grey;
  
}
a.item:hover {
  color: orange;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    /* margin-bottom: 0; */
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    margin-bottom: 0;
}
}
@media (max-width:767px) {
  .containers{
    width: 50%;
    
  }
  
}
@media(max-width:574px) {
  .containers{

    width: 100%;
  }
}