:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    width: 60%;
    height: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 3em;
    box-shadow: 0 0 1rem #ccc;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.post-btn{
    padding: 1 2em;
}