<div class="container">
    <h1>Post a Question</h1>
    <form #postForm="ngForm">
        <div class="form-container">
            <mat-form-field appearance="fill">
                <mat-label>Enter Question title</mat-label>
                <input name="title" ngModel matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Select tags</mat-label>
                <mat-select name="tags" ngModel>
                    <mat-option value="one">Math</mat-option>
                    <mat-option value="two">Algorithms</mat-option>
                    <mat-option value="two">Algebra</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter Question description</mat-label>
                <textarea name="description" ngModel matInput></textarea>
            </mat-form-field>
            <div class="documents">
                <div>
                    <h2>Upload any related documents</h2>
                </div>
                <button type="button" mat-raised-button (click)="documentsInput.click()">Choose Files</button>
                <input name="documents" (change)="displayFileNames()" ngModel hidden #documentsInput type="file" id="documentsInput">
                <div id="documents"></div>
            </div>
            <div class="button-container">
                <button id="post" type="submit" mat-flat-button color="primary" class="post-btn">Post</button>
            </div>
        </div>
    </form>
</div>