:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 40rem;
}
input{
    width: 100%;
}
h1 {
    font-size: 2em;
}

.post-btn{
    padding: 1 2em;
    margin: 2rem;
}
.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.documents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    flex-wrap: wrap;
}
.documents h2{
    background-color: #eee;
    padding: .5rem;
    margin-top: .5rem;
}