<div class="container">
    <div class="image-container">
        <div class="image">
            <img src="../../assets/testimonials/chan_a.png" alt="jackie chan">
        </div>
    </div>
    
    <div class="body">
        <h1>Jackie Chan</h1>
        <p>" Thanks to Study Pal, I was able to find a tutor who helped 
            me master the English language. Their platform made it easy 
            for me to connect with a qualified tutor who understood my 
            learning needs and helped me improve my language skills. I 
            am grateful for the personalized support I received, which 
            enabled me to communicate effectively with my fans and 
            colleagues around the world. Without Study Pal, I wouldn't 
            have been able to achieve my dreams and reach the level of 
            success I have today. I highly recommend Study Pal to anyone 
            looking to improve their language skills and achieve their 
            goals." </p>
    </div>
</div>