<div class="container">
    <h1>Login</h1>
    <div class="form-group">
        
        
        <mat-form-field appearance="fill">
            <mat-label>Enter a Username</mat-label>
            <input matInput placeholder="username" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput type="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <div class="button-container">
            <button id="login-btn" mat-flat-button color="primary" >Log In</button>
        </div>

        <div class="button-container">
            
            <a id="signup-btn" routerLink="signup" ><h4 ><span style="text-decoration: none;">Don't have an account?</span>Sign Up</h4></a>
        </div>


    </div>
</div>
