
<div class="container">
    <h1 class="title">Our Vision</h1>

    <div class="grid-container">
        <div class="image-container">
            <img src="assets/codeaddict.jpg" alt="">
        </div>

        <div class="note">
            <p>
                Our app revolutionizes the way students receive academic assistance. With features like 24/7 online tutoring, a vast library of study materials, and textbook solutions, students can get the help they need to succeed no matter where they are. Our user-friendly platform provides an affordable and effective solution to the challenges students face in their academic journey. Whether you're struggling with a homework problem or looking to improve your grades, our app has got you covered. Join the revolution and give yourself the academic edge you deserve.
            </p>
            <p>
                Our user-friendly platform provides an affordable and effective solution to the challenges students face in their academic journey. Whether you're struggling with a homework problem or looking to improve your grades, our app has got you covered. Join the revolution and give yourself the academic edge you deserve.
            </p>
        </div>
    </div>

    
</div>
