<div class="card">
    <h1>{{task.title}}</h1>
    <div class="body">
        <p>
            {{task.desc}}
        </p>
    </div>
    <div class="tags">
        <mat-chip-set>
            <mat-chip *ngFor="let tag of task.tag">{{tag}}</mat-chip>
        </mat-chip-set>
    </div>
    <div class="info">
        <p>Asked By: Daniel</p>
        <div class="buttons">
            <button mat-flat-button color="primary" (click)="complete()">Complete</button>
            <button mat-flat-button color="warn">cancel</button>
        </div>
    </div>
</div>