.post{
    width: 80rem;
    height: 300px;
    max-height: 400px;
    border-radius: 2em;
    margin: 2em auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3em;
}

.account-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../../assets/codeaddict2.jpg');
    background-position: center;
    background-size: cover;
}
.account{
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    margin-bottom: .7em;
}
.name{
    font-size: 1.5em;
    margin: 0 .5em;
}

hr{
    margin-bottom: 1.3em;
}
.title{
    font-size: 1.5em;
}
.text{
    font-family: sans-serif;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.apply:hover{
    background-color: rgb(49, 229, 22);
}
.money{
    font-size: 1.5em;
    padding: 10px 20px;
}

.tags{
    padding-top: .5rem;
}