.nav_bar{
    background-color: #3f454f;
   
}
.hover-underline-animation {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffff00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.studypal{
    color:rgb(235, 154, 4);
}