.container{
    width: 50%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.upper-profile{
    width: 100%;
    height: 100px;
    max-height: 100px;
    background-image: url('../../assets/codeaddict.jpg');
    background-position: center;
}

.main-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('../../assets/codeaddict2.jpg');
    background-position: center;
    position: absolute;
    top: 6%;
    left: 2%;
}

img{
    width: 100%;
    height: 100%;
}

.bio{
    position: absolute;
    font-size: 1.2em;
    top: 35%;
    padding: 0 10px;
}