
<div class="container">
    <div class="upper-profile">
    </div>

    <div class="main-profile">
    </div>
    <div class="icon1"><mat-icon>edit</mat-icon></div>
    

    <div class="bio">

        <h1 class="name">John Doe</h1>
        <p class="username">@JohnDoe</p>
        
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, dolorum incidunt adipisci ipsum vero in illo, quod ad, neque autem omnis blanditiis esse corrupti! Consequatur inventore maxime error aspernatur eligendi!
        </p>

        <button action="mailto:recipient@example.com" method="post" class="btn1">
            <mat-icon> contact_mail</mat-icon>
        </button>
        <button action="mailto:recipient@example.com" method="post" class="btn2">
            <mat-icon> call</mat-icon>
        </button>
    </div>
       
    <div class="icon2"><mat-icon>edit</mat-icon></div>
    

    
</div>