.container{
    width: 80rem;
    margin: 1em auto;
    position: relative;
    height: 40rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1.5em;
    overflow: hidden;
}
.upper-profile{
    width: 100%;
    height: 10rem;
    /* max-height: 100px; */
    background-image: url('../../assets/codeaddict.jpg');
    background-position: center;
}

.main-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('../../assets/codeaddict2.jpg');
    background-position: center;
    position: absolute;
    top: 15%;
    left: 2%;
    border: .4em solid #000;
}

img{
    width: 100%;
    height: 100%;
}

.bio{
    position: absolute;
    font-size: 1.2em;
    top: 35%;
    padding: 0 15px;
    margin-top: 2em;
}

.icon2{
    position: absolute;
    top: 13%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .3s;
}

.icon2:hover{
    background-color: rgb(62, 42, 42);
    color: white;
}

.name{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.username{
    font-weight: lighter;
    font-size: .7em;
}
.btn1, .btn2, .btn3{
    width: 80px;
    height: 40px;
    padding: 10px 20px;
    background-color: #3f454f;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    margin: 0 5px;
    margin-top: 2em;
    position: absolute;
    right: 2em;
}
.btn2{
    right: 7em;
}
.btn1:hover, .btn2:hover, .btn3:hover{
    opacity: 0.8;
}
.btn3{
    width: 10em;
    right: 12em;
}

.rating{
    position: absolute;
    left: 23%;
    top: 30%;
}

.tags{
    position: absolute;
    left: 2%;
    bottom: 26%;
}

