.container{
    margin: 2rem auto;
    padding: 3rem;
    box-shadow: 0 0 1rem #ccc;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
mat-form-field{
    width: 30rem;
    margin: .5rem 0;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #666;
}
.button-container{
    display: flex;
    justify-content: center;
}
#signup-btn{
    margin-top: 1rem;
    padding: 1.5rem;
}

.sign-in-prompt{
    text-decoration: underline;
    cursor: pointer;
}   

.bottom-prompt{
    margin: 1em 0;
}