<div class="container">
    <h1>Create Account</h1>
    <form #signupForm="ngForm" (ngSubmit)="onFormSubmission(signupForm.value)">
        <mat-form-field appearance="fill">
            <mat-label>Enter Your Full Name</mat-label>
            <input ngModel name="fullname" matInput placeholder="Full Name" required>
            <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input ngModel name="email" matInput placeholder="pat@example.com" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter a Username</mat-label>
            <input ngModel name="username" matInput placeholder="username" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input ngModel name="password" matInput type="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <div class="button-container">
            <button type="submit" id="signup-btn" mat-flat-button color="primary">Sign Up</button>
          </div>
          <div class="bottom-prompt"> already have an account? <span class="sign-in-prompt"> Sign In</span> here</div>
      </form>
</div>
